# Getting Started

Dataset we will use is the Tate Collection meta data.

available as JSON or CSV
https://github.com/tategallery/collection

In [1]:
# Typical imports
import pandas as pd
import numpy as np

----

## NumPy objects
Pandas uses many numpy data objects under the hood.

- np.array
- np.ndarray

(nd standards for n-dimensional)

## Panda objects

- pd.Series - single column
- pd.DataFrame - multi-column data

----

- NumPy arrays are like Python arrays
- Series - is an array with row labels
- Data Frame is 1 or more column arrays with column labels

----
## Create Objects

Create 3-element ndarray

my_array = np.random.rand(3)
my_array

create 3-element series

In [4]:
my_series = pd.Series(np.random.rand(3))
my_series

0    0.344536
1    0.217840
2    0.188038
dtype: float64

create data frame

In [6]:
my_df = pd.DataFrame(np.random.rand(3, 2))
my_df

          0         1
0  0.516363  0.204093
1  0.460991  0.505147
2  0.829576  0.520403

----
### Panda Series

In [12]:
# define keys
my_series = pd.Series(np.random.rand(3), ['first', 'second', 'third'])
print('my_series[0]=', my_series[0])
print('my_series[1]=', my_series[1])
print('my_series[2]=', my_series[2])
print('my_series["first"]=', my_series['first'])
print('my_series["second"]=', my_series['second'])
print('my_series["third"]=', my_series['third'])
print(my_series)

my_series[0]= 0.17190595683979004
my_series[1]= 0.27018496708714335
my_series[2]= 0.10268444126860632
my_series["first"]= 0.17190595683979004
my_series["second"]= 0.27018496708714335
my_series["third"]= 0.10268444126860632
first     0.171906
second    0.270185
third     0.102684
dtype: float64

In [8]:
# Index object is the key column
my_series.index

Index(['first', 'second', 'third'], dtype='object')

----
### Data Frames

In [17]:
# 2D NumPy array
array_2d = np.random.rand(3,2)
array_2d

array([[0.56006625, 0.48843625],
       [0.46689814, 0.94664691],
       [0.36566789, 0.12573178]])

In [14]:
# First row, second column
array_2d[0, 1]

0.9395103114702114

In [18]:
# Create Data Frame
df = pd.DataFrame(array_2d)
df

          0         1
0  0.560066  0.488436
1  0.466898  0.946647
2  0.365668  0.125732

In [16]:
array_2d[0, 1]

0.9395103114702114

In [19]:
# Set Columns
df.columns = ['first', 'second']
df

      first    second
0  0.560066  0.488436
1  0.466898  0.946647
2  0.365668  0.125732

In [23]:
# Index by column name, returns a series object
print(df['first'])
print(df['second'])

0    0.560066
1    0.466898
2    0.365668
Name: first, dtype: float64
0    0.488436
1    0.946647
2    0.125732
Name: second, dtype: float64