# Outputting Data

- Excel 
- SQL dupe_titles_df
- JSON

----

In [6]:
import pandas as pd
import numpy as np
import os

In [7]:
df = pd.read_pickle("data_frame.pickle")
df.head()

,artist,title,medium,year,acquisitionYear,width,height,units
id,,,,,,,,
1035,"Blake, Robert",A Figure Bowing before a Seated Old Man with h...,"Watercolour, ink, chalk and graphite on paper....",NaN,1922.0,394,419,mm
1036,"Blake, Robert","Two Drawings of Frightened Figures, Probably f...",Graphite on paper,NaN,1922.0,311,213,mm
1037,"Blake, Robert",The Preaching of Warning. Verso: An Old Man En...,Graphite on paper. Verso: graphite on paper,1785,1922.0,343,467,mm
1038,"Blake, Robert",Six Drawings of Figures with Outstretched Arms,Graphite on paper,NaN,1922.0,318,394,mm
1039,"Blake, William",The Circle of the Lustful: Francesca da Rimini...,Line engraving on paper,1826,1919.0,243,335,mm

In [5]:
small_df = df.iloc[49980:50019, :].copy()

In [8]:
# to Excel
small_df.to_excel('basics.xlsx')
small_df.to_excel('basics-noindex.xlsx', index=False)
small_df.to_excel('basics-cols.xlsx', columns=['artist', 'title', 'year'])

In [10]:
# to Excel, more control

# Multiple Worksheets
writer = pd.ExcelWriter('multiple_sheets.xlsx', engine='xlsxwriter')
small_df.to_excel(writer, sheet_name='Preview', index=False)
df.to_excel(writer, sheet_name="Complete", index=False)
writer.save()

# Conditional Formatting
artist_counts = df['artist'].value_counts()
artist_counts.head()
writer = pd.ExcelWriter('colors.xlsx', engine='xlsxwriter')
artist_counts.to_excel(writer, sheet_name='Artist Counts')
sheet = writer.sheets['Artist Counts']
cells_range = 'B2:B{}'.format(len(artist_counts.index))
sheet.conditional_format(cells_range, {
    'type' : '2_color_scale',
    'min_value': '10',
    'min_type': 'percentile',
    'max_value' : '99',
    'max_type': 'percentile'
})
writer.save()

----
SQL

In [11]:
import sqlite3

In [12]:
with sqlite3.connect('my_db.db') as conn:
    small_df.to_sql('Tate', conn)

You can read sqlite dbs with Navicat and other tools. 

Otherwise sqlalchemy is a popular python library, we can use this for postgresql

In [14]:
import sqlalchemy as sa

In [16]:
# with sa.create_engine('postgresql://localhost/my_data') as conn:
#     small_df2.to_sql('Tate', conn)

----
JSON

In [17]:
small_df.to_json('default.json')

In [18]:
small_df.to_json('table.json', orient='table')