# Operations on Groups
Examples
- the first year each artist was first acquired - aggregation
- all NaN medium values for each artist and replace with the most common medium for that artist - transformation
- drop groups = filtering


```python
for name, group in df.groupby('artist'):
```

## Summary
- Use groups to aggregate, transform and filter
- Use built-in methods where possible
----

In [26]:
import pandas as pd
import numpy as np

In [13]:
df = pd.read_pickle("data_frame.pickle")
df.head()

,artist,title,medium,year,acquisitionYear,width,height,units
id,,,,,,,,
1035,"Blake, Robert",A Figure Bowing before a Seated Old Man with h...,"Watercolour, ink, chalk and graphite on paper....",NaN,1922.0,394,419,mm
1036,"Blake, Robert","Two Drawings of Frightened Figures, Probably f...",Graphite on paper,NaN,1922.0,311,213,mm
1037,"Blake, Robert",The Preaching of Warning. Verso: An Old Man En...,Graphite on paper. Verso: graphite on paper,1785,1922.0,343,467,mm
1038,"Blake, Robert",Six Drawings of Figures with Outstretched Arms,Graphite on paper,NaN,1922.0,318,394,mm
1039,"Blake, William",The Circle of the Lustful: Francesca da Rimini...,Line engraving on paper,1826,1919.0,243,335,mm

iterate over artist groups

In [14]:
# use small data frame to test data
# we also copy so we can test some modifications
small_df = df.iloc[49980:50019, :].copy()

grouped = small_df.groupby('artist')
# we can't view the representation, but we can see the type name
type(grouped)

pandas.core.groupby.DataFrameGroupBy

In [7]:
for name, group_df in grouped:
    print(name)
    print(group_df)
    break

Frost, Sir Terry
                artist            title               medium  year  \
id
4704  Frost, Sir Terry        Blue Moon  Lithograph on paper  1952
4705  Frost, Sir Terry      Boat Shapes     Linocut on paper  1952
4706  Frost, Sir Terry      Boat Shapes     Linocut on paper  1954
4707  Frost, Sir Terry      Boat Shapes     Linocut on paper  1954
4708  Frost, Sir Terry            Leeds    Drypoint on paper  1956
4709  Frost, Sir Terry  Camping, Anduze     Etching on paper  1979
4710  Frost, Sir Terry     Umea, Sweden     Etching on paper  1979
4711  Frost, Sir Terry    Self-Portrait     Etching on paper  1980

      acquisitionYear width height units
id
4704           1983.0   355    273    mm
4705           1983.0   132    143    mm
4706           1983.0   131    155    mm
4707           1983.0   193    267    mm
4708           1983.0   125    167    mm
4709           1983.0   257    209    mm
4710           1983.0   NaN    NaN   NaN
4711           1983.0   277    200    mm

find the date of the first acquisition

In [9]:
# Aggegrate
for name, group_df in small_df.groupby('artist'):
    min_year = group_df['acquisitionYear'].min()
    print("{}: {}".format(name, min_year))

Frost, Sir Terry: 1983.0
Phillips, Esq Tom: 1983.0
Wols: 1983.0

fill some missing values

In [30]:
# Show our small_df
small_df = df.iloc[49980:50019, :].copy()
small_df.loc[[16417, 16431, 16440], 'medium'] = None
small_df

,artist,title,medium,year,acquisitionYear,width,height,units
id,,,,,,,,
16412,Wols,[no title],Etching on paper,1937,1983.0,130,80,mm
16413,Wols,[no title],Etching and drypoint on paper,1937,1983.0,187,102,mm
16414,Wols,[no title],Etching and drypoint on paper,1937,1983.0,248,168,mm
16415,Wols,[no title],Etching and drypoint on paper,1937,1983.0,149,102,mm
16416,Wols,[no title],Etching and drypoint on paper,1937,1983.0,203,120,mm
16417,Wols,[no title],None,1937,1983.0,130,79,mm
16418,Wols,[no title],Etching and drypoint on paper,1937,1983.0,124,98,mm
16419,Wols,[no title],Etching and drypoint on paper,1937,1983.0,140,89,mm
16420,Wols,[no title],Etching and drypoint on paper,1937,1983.0,140,86,mm
16421,Wols,[no title],Etching and drypoint on paper,1937,1983.0,83,79,mm
16422,Wols,[no title],Etching and drypoint on paper,1937,1983.0,200,146,mm
16423,Wols,[no title],Etching on paper,1937,1983.0,60,98,mm
16424,Wols,[no title],Etching and drypoint on paper,1937,1983.0,124,98,mm
16425,Wols,[no title],Etching on paper,1937,1983.0,124,98,mm
16426,Wols,[no title],Etching and drypoint on paper,1937,1983.0,204,118,mm
16427,Wols,[no title],Etching and drypoint on paper,1937,1983.0,105,98,mm
16428,Wols,[no title],Etching and drypoint on paper,1937,1983.0,197,149,mm
16429,Wols,[no title],Etching and drypoint on paper,1937,1983.0,102,120,mm
16430,Wols,[no title],Etching and drypoint on paper,1937,1983.0,118,95,mm
16431,Wols,[no title],None,1937,1983.0,140,79,mm
16432,Wols,[no title],Etching and drypoint on paper,1937,1983.0,124,95,mm
16433,Wols,[no title],Etching and drypoint on paper,1937,1983.0,105,73,mm
16434,Wols,[no title],Etching and drypoint on paper,1937,1983.0,121,102,mm
16435,Wols,[no title],Etching and drypoint on paper,1937,1983.0,121,92,mm
16436,Wols,[no title],Etching and drypoint on paper,1937,1983.0,124,98,mm
16437,Wols,[no title],Etching and drypoint on paper,1937,1983.0,124,98,mm
16438,Wols,[no title],Etching and drypoint on paper,1937,1983.0,124,98,mm
16439,Wols,[no title],Etching and drypoint on paper,1937,1983.0,102,70,mm
16440,Wols,[no title],None,1937,1983.0,105,70,mm
16441,Wols,[no title],Etching and drypoint on paper,1937,1983.0,324,248,mm
4704,"Frost, Sir Terry",Blue Moon,Lithograph on paper,1952,1983.0,355,273,mm
4705,"Frost, Sir Terry",Boat Shapes,Linocut on paper,1952,1983.0,132,143,mm
4706,"Frost, Sir Terry",Boat Shapes,Linocut on paper,1954,1983.0,131,155,mm
4707,"Frost, Sir Terry",Boat Shapes,Linocut on paper,1954,1983.0,193,267,mm
4708,"Frost, Sir Terry",Leeds,Drypoint on paper,1956,1983.0,125,167,mm
4709,"Frost, Sir Terry","Camping, Anduze",Etching on paper,1979,1983.0,257,209,mm
4710,"Frost, Sir Terry","Umea, Sweden",Etching on paper,1979,1983.0,NaN,NaN,NaN
4711,"Frost, Sir Terry",Self-Portrait,Etching on paper,1980,1983.0,277,200,mm
11838,"Phillips, Esq Tom",[colophon],Etching on paper,1979,1983.0,292,204,mm

In [34]:
# Transform Methods

# Make a case when there is no data to infer
# small_df.loc[[11838, 16441], 'medium']
def fill_values(series):
    values_counted = series.value_counts()
    if values_counted.empty:
        return series
    most_frequent = values_counted.index[0]
    new_medium = series.fillna(most_frequent)
    return new_medium

def transform_df(source_df):
    group_dfs = []
    for name, group_df in source_df.groupby('artist'):
        filled_df = group_df.copy()
        filled_df.loc[:,'medium'] = fill_values(group_df['medium'])
        group_dfs.append(filled_df)
    new_df = pd.concat(group_dfs)
    return new_df

In [ ]:
# Now check the result
filled_df = transform_df(small_df)
filled_df

In [ ]:
# Transform
grouped_mediums = small_df.groupby('artist')['medium']
small_df.loc[:,'medium'] = grouped_mediums.transform(fill_values)
small_df

In [ ]:
grouped_acq_year = df.groupby('artist')['acquisitionYear']

In [41]:
# Transform
# Using built-in methods
#df.loc[:,'acquisitionYear'] = grouped_mediums.transform(fill_values)

In [ ]:
# Examples of aggregate methods
#grouped_acq_year.agg(np.min)
grouped_acq_year.min()

In [47]:
# Filtering dupes, where titles appear more than once
grouped_titles = df.groupby('title')
title_counts = grouped_titles.size().sort_values(ascending=False)
condition = lambda x: len(x.index) > 1
dupe_titles_df = grouped_titles.filter(condition)
dupe_titles_df.sort_values('title', inplace=True)

/usr/local/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy